* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-Google-Sans :"Noto Sans", sans-serif;
  --font-Volkhov: "Volkhov", serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-Open-Sans: "Open Sans", sans-serif;
  --color-Dark: #212832;
  --color-Terra-Cotta: #DF6951;
  --color-Blue-Zodiac: #181E4B;
  --color-Dolphin: #5E6282;
  --color-Night: #080809;
  --color-Haiti:#14183E;
  --color-white:#ffffff;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

}
#check {
  display: none;
}
label {
  display: none;
}
#check {
  z-index: 3;
}
@media (min-width: 391px) and (max-width: 650px) {
  .container2 {
    overflow: hidden;
    
  }
  header nav {
    display: none;
  }
  label {
    width: 100%;
    margin-top: 23px;
    text-align: end;
    justify-content: end;
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition-property: var(--color-Terra-Cotta);
  }
  label .fa-xmark {
    width: 60%;
    text-align: end;
    justify-content: end;
    font-size: 25px;
    cursor: pointer;
    transition-property: var(--color-Terra-Cotta);
  }

  label:hover {
    color: var(--color-Dark);
  }
  .fa-xmark {
    display: none;
  }
  #check:checked ~ nav .sign-up {
    display: none;
  }
  #check:checked ~ nav .navbar {
    flex-direction: column;
    ;
  }
  #check:checked ~ nav {
    z-index: 999;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: var(--color-Terra-Cotta);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
  }
  #check:checked ~ nav a {
    font-size: 20px;
    margin-left: 20%;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 2px;
    color:#fff
  }
  #check:checked ~  label .fa-bars {
    display: none;
  }
  #check:checked ~  label .fa-xmark {
    z-index: 999999999999;
    position: fixed;
    display: block;
  }
  header input {
    display: none;
  }

  .travel-information .enjoy h1 {
    width: 55%;
    font-weight: 300;
    margin-left: -10px;
    font-size: 30px;
    line-height: 55px;
    position: relative;
    bottom: 130px;
}
  .destinations {
  width: 100%;
  line-height: 30px;
  position: relative;
  bottom: 130px;
  /* margin-top: -100px; */
}
.travel-information .decore img {
  width: 40%;
  margin-left: 0;
  margin-top: 140px;
  height: auto;

}
.travel-information .hero img  {
  max-width: 70%;
  height: auto;
  margin-top: 170px;
  margin-right: 137px;
}
.travel-information .blob img  {
  display: none;
}
.built-wicket p {
  max-width: 37%;
  margin-top: -200px;
  color: var(--color-Dolphin);
}
.find-out-more {
  cursor: pointer;
}
button.find-out-more  {
  margin-top: 150px;
  max-width:  30%;
  padding: 10px;
  font-size: 15px;
  
}
.play-btn img {
  margin-top: 80px;
  margin-right: 0;
  cursor: pointer;

}
header .play-btn h3  {
  margin-top: 110px;
  
}
.gather-travel-information {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px; 
}

.calculated-weather {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;
  justify-content: center; 
}

/* .img .rectangle {
  width: 80px; 
  height: 80px;
}

.img img:not(.rectangle) {
  width: 50px; 
} */

.calculated .weather {
  font-size: 1em;
}

.calculated .built-wicket-longer {
  font-size: 0.8em; 
}
.group img {
  display: none;
}
.some-country-information {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

  overflow: hidden;
  position: relative;
  right: 15%;
}
.some-country-information img {
  width: 100%;
}
.book-your-next-trip .book  {
  font-size: 20px;
  width: 50%;
  line-height: 30px;
}
.rectangle {
  margin-top: 500px;
  margin-left: 10%;
  
}
.icon {
  display: none;
}

.trip-to-greece .rectangle h3 {
  width: 100%;
  margin-left: -50%;
}
.june {
  width: 100%;
  margin-left: 2.4%;
  
}
.joseph {
  width: 100%;
  margin-right: 70%;
}
}
/* @media (min-width : 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width : 992px) {
  .container {
    width: 992px;
    
  }
}
@media (min-width : 1200px) {
  .container {
    width: 1170px;
  }
} */
.container {
  display: flex;
  text-align: center;
  width: 100%;
  
}
.logo {
  margin: 30px 10px 0 0 ;
  width: 30%;

}
nav ul {
  display: flex;
  text-align: center;
  gap: 70px;
  margin: 47px 80px 0 0;

}
nav a {
  text-decoration: none;
  color: var(--color-Dark);
  font-family: var(--font-Google-Sans);
  font-weight: 500;
}
nav li {
  list-style: none;
  
}
nav  {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: end;
  z-index: 1;
}
.sign-up {
  margin: 32px 90px 0 0;
  border: solid 1px black;
  padding: 14px;
  width: 11%;
  background-color: #fff1de;
  color: var(--color-Dark);
  font-family: var(--font-Google-Sans);
  border-radius: 5px;
  transition: all 0.4s;
  cursor: pointer;
}
.sign-up:hover {
  background-color: #EB9887;
  border: solid 1px #EB9887;
}
.front-viewimages  {
  display: flex;
  

}
.blob img {
  width: 600px;
  height: 872.58px;
  

}
.blob {
  margin-top: -645px;
  margin-left: -38.50%;

}
.hero img {
  width: 783.87px;
  height: 764px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 2.5s ease-in-out, opacity 2.5s ease-in-out;
}
.hero {
  display: flex;
  justify-content: end;
  text-align: end;
  margin-left: 35%;
  margin-top: -470px;
  z-index: 1;
}
.hero img.animate {
  transform: translateY(0);
  opacity: 1;
}
.travel-information {
  margin-top: 200px;
  line-height: 100px;
}
.destinations h3{
  font-family: var(--font-Poppins);
  color: var(--color-Terra-Cotta);
  font-weight: 700;
  font-size: 20px;
  margin-left: 8%;
}
.enjoy {
  width: 570px;
  height: 267px;
  margin-left: 8%;

}
.enjoy h1 {
  font-family: var(--font-Volkhov);
  font-weight: 700;
  font-size: 89px;
  line-height: 89px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  color: var(--color-Blue-Zodiac);
}
.enjoy h1.animate {
  transform: translateY(0);
  opacity: 1;
}
.decore  {
  margin-top: -530px;
  margin-left: 29%;
  position: relative;
}
.decore img {
  width: auto;
  height: auto;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.decore img.animate {
  transform: translateY(0);
  opacity: 1;
}
.built-wicket {
  width: 477px;
  height: 90px;
  font-family: var(--font-Poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  margin-left: 8%;
  margin-top: 250px;
  color: var(--color-Dark);
}
.find-out-more {
  width: 170px;
  height: 60px;
  margin: 50px 0 0 8%;
  font-size: 18px;
  font-family: var(--font-Google-Sans);
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  color: #ffff;
  transition: all 0.4s;
  border: solid 1px #f1a501;
  background-color: #f1a501;
}
.find-out-more:hover {
  border: solid 1px #bb8000;
  background-color:#bb8000 ;
}
.play-btn {
  display: flex;
  text-align: center;
  margin-left: 25%;
  margin-top: -70px;
  cursor: pointer;
}
.play-btn h3 {
  margin-top: 30px;
  font-family: var(--font-Poppins);
  font-weight: 500;
  font-size: 17px;
  color: #686d77;
  
} 
.best-services {
  text-align: center;
  
}
.best-services h5 {
  font-family: var(--font-Poppins);
  font-weight: 600;
  font-size: 18px;
  line-height: 90px;
  color: var(--color-Dolphin);
}
.best-services h2 {
  font-family: var(--font-Volkhov);
  font-weight: 700;
  font-size: 50px;
  color: var(--color-Haiti);
}
.group {
  text-align: end;
  margin-right: 5%;
  margin-top: -100px;
}
.group img {
  width: 153px;
  height: 166px;
}
.gather-travel-information {
  width: 100%;
  display: flex;
  text-align: start;
  line-height: 65px;
  text-align: center;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 100px;
  
}

.gather-travel-information .img  {
  text-align: center;
  margin-top: 150px;
}
.gather-travel-information .img .satellite-dish {
  width: 66.74px;
  height: 70px;
}
.gather-travel-information .img .rectangle{
  width: 50px;
  height: 49px;
  margin-right: -45%;
}
.gather-travel-information .img .satellite-dish {
  width: 66.74px;
  height: 70px;
}
.gather-travel-information .img .plane {
  width: 158.04px;
  height: 69.56px;
}
.gather-travel-information .calculated {
  font-family: var(--font-Open-Sans);
  font-weight: 600;
  font-size: 20px
  
}
.weather {
  color:var(--color-Blue-Zodiac);
}
.built-wicket-longer  {
  width: 181px;
  height: 78px;
  font-family: var(--font-Poppins);
  font-weight: 600;
  font-size: 16px;
  color: var(--color-Dolphin);
  line-height: 26px;
  margin-left: 5%;
}
.satellite-dish , .image , .power-supply {
  margin-left: 10%;
}
.discover-some-of-the-country {
  text-align: center;

}
.discover-some-of-the-country h5 {
  font-family: var(--font-Poppins);
  font-weight: 600;
  font-size: 18px;
  line-height: 37px;
  color: var(--color-Dolphin);
}
.discover-some-of-the-country h2 {
  font-family: var(--font-Volkhov);
  font-weight: 700;
  font-size: 50px;
  line-height: 64.5px;
  color: var(--color-Haiti);
}

.some-country-information {
  display: flex;
  text-align: center;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 163px;
  margin-left: 50px;
}
.some-country-information img {
  width: 414px;
  height: 457px;
  margin-top: 70px;
  cursor: pointer;
  
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.some-country-information img:hover {
  transform: scale(1.1); 

}
.Italty  img {
  margin-top: 145px;
}
.Italty ,h4 , span {
  
  font-family: var(--font-Poppins);
  font-weight: 500;
  color: var(--color-Dolphin);
  position: relative;
  bottom: 70px;
  line-height: 40px;
}
.book-your-next-trip  {
  margin-top: 70px;
}
.book-your-next-trip span {
  font-family: var(--font-Poppins);
  font-weight: 600;
  font-size: 18px;
  color: var(--color-Dolphin);
}
.Italty span {
  position: relative;
  left: 65%;
  bottom: 150px;
}
.book-your-next-trip h2 ,span {
  margin-left: 70px;
  margin-top: -50px;

}
.figure , h3 {
  margin-left: 5%;
  margin-bottom: -7px;
  gap: 40px;
  font-family: var(--font-Poppins);
  font-weight: 700;
  font-size: 16px;
  color: var(--color-Dolphin);
}
.choose {
  margin-bottom: 1px;
}
.dolor {
  
  margin-left: 2%;
}
.book-your-next-trip  , .ifgcaption {
  font-family: var(--font-Poppins);
  font-weight: 600;
  font-size: 16px;
  color: var(--color-Dolphin);
  width: 100%;
}
figure {
  margin-left: 70px;

}

.selection  {
  
  /* width: 47px;
  height: 48px; */
  background-color: #f0bb1f;
}
.water  {
  
  background-color: #f15a2b;
}
.taxi  {
  background-color: #006380;
}
.book-your-next-trip h2 {
  width: 511px;
  font-family: var(--font-Volkhov);
  font-weight: 700;
  font-size: 50px;
  line-height: 64.5px;
  color: var(--color-Haiti);
}
.trip-to-greece {
  text-align: end;
  margin-top: -400px;
  margin-right: 70px;
  
}
.rectangle img {
  width: 321px;
  height: 161px;
}
.rectangle h3 {
  font-family: var(--font-Poppins);
  font-weight: 500;
  font-size: 18px;
  color: var(--color-Night);
  margin-right: 15%;
  margin-top: 30px;
}
.trip-to-greece {
  filter: drop-shadow(20px 20px 20px  rgb(33, 70, 255));
}
.trip-to-greece .june {
  position: relative;
  top: 10px;  
  right: 2%;
  font-family: var(--font-Poppins);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-Dolphin);
}
.trip-to-greece .joseph {
  position: relative;
  top: 10px;  
  right: 7%;
  font-family: var(--font-Poppins);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-Dolphin);
}
.icon {
  margin-right: 15%;
  margin-top: 30px;
  
}
.icon img {
  padding: 10px;
}
.people-going {
  margin-top: 25px;
  margin-right: 0;
}
